<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>
  <add name="IncMusicStore" connectionString="Data Source=.\SQLEXPRESS;Database=IncMusicStore;Integrated Security=true"
       providerName="System.Data.SqlClient" />
  <add name="IncMusicStoreTest" connectionString="Data Source=.\SQLEXPRESS;Database=IncMusicStoreTest;Integrated Security=true"
       providerName="System.Data.SqlClient" />  
</connectionStrings>