<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="IncMusicStore" connectionString="Data Source=.\ENT2012;Database=IncMusicStore;Integrated Security=False;User Id=sa;Password=Incoding123"  
  providerName="System.Data.SqlClient" />
 <add name="IncMusicStoreTest" connectionString="Data Source=.\ENT2012;Database=IncMusicStoreTest;Integrated Security=False;User Id=sa;Password=Incoding123"
  providerName="System.Data.SqlClient" />
</connectionStrings>